{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% if form.username.errors %}
            <ul class="error">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% if form.password.errors %}
            <ul class="error">
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<p>Нет аккаунта? <a href="{{ url_for('login') }}">Зарегистрируйтесь здесь</a>.</p>
{% endblock %}


